extends layout/header.pug

append content
	.reservaciones
		.reservaciones__widget
			<script type='text/javascript' src='//www.opentable.com.mx/widget/reservation/loader?rid=17803&type=multi&theme=wide&iframe=true&domain=commx&lang=es-MX&newtab=false'></script>